
@{
    ViewBag.Title = "About";
    ViewBag.CarModel = "Lexus";
    ViewBag.Tree = "Oak";
}

<h2>This is my title: @ViewBag.Title</h2>
<h2>This is my car: @ViewBag.CarModel</h2>
<h2>This is my tree: @ViewBag.Tree</h2>

